
//=============================CONTACT-PAPE===========================// 
.contact__big__title {
    background-image: linear-gradient(to RIGHT, #1a1c27, #00cced);
}
.contact__title.fleft {
    font-size: 30px;
    color: #fff;
    padding: 48px 0;
}
.breadcrumb {
    color: #fff;
}
.breadcrumb li {
    display: inline-block;
    padding: 55px 24px;
    color: #fff;
}
//contact form
.contact__contact {
    max-width: 100%;
    margin-top: 60px;
    margin-bottom: 100px;
    form {
        max-width: 45%;
        float: left;
        margin-top: 46px;
        input {
            border: solid 1px #d6dde2;
            width: 100%;
            padding: 18px 0;
            margin-bottom: 20px;
            border-radius: 5px;
            box-sizing: border-box;
        }
        textarea {
            border: solid 1px #d6dde2;
            width: 100%;
            padding: 18px 0;
            margin-bottom: 50px;
        }
        label {
            font-size: 14px;
            font-weight: bold;
            line-height: 2.4;
        }
        input[type="submit"] {
            width: unset;
            padding: 14px 14px;
            color: #fff;
            background: #1abc9c;
            border-radius: 3px;
            box-shadow: none;
            margin-top: -20px;
        }
    }
}

.contact__infomation {
    max-width: 50%;
    h2 {
        font-size: 30px;
        color: #34495e;
        margin-bottom: 20px;
        margin-top: 46px;
    }
    h4 {
        font-size: 14px;
        color: #34495e;
        margin-bottom: 18px;
    }
    p {
        margin-bottom: 28px;
        color: #a1b1bc;
    }
    h4.contact__infomation--business {
        margin-top: 30px;
    }
    a {
        color: #1abc9c;
    }
}

//contact__footer
.contact__footer-top div {
    width: 23%;
    p {
        border-bottom: 1px solid #46515c;
        padding-bottom: 20px;
    }
    p:last-child {
        border: none;
    }
    h4 {
        color: white;
        font-size: 16px;
    }
    h5 {
        margin-top: 20px;
        color: #fff;
        font-size: 14px;
        line-height: 1.7;
    }
    a {
        display: block;
        margin-top: 38px;
        font-size: 14px;
        color: #1abc9c;
        font-weight: bold;
    }
}
.contact__footer-top div.fleft {
    margin-right: 30px;
}


